@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sec {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#276afa ,#e91ece 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
.custom-shape-divider-bottom-1629296110 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1629296110 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1629296110 .shape-fill {
    fill: #FFFFFF;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 2em;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation {
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
}
header .navigation li a {
    color: #FFFFFF;
    margin-left: 40px;
    text-decoration: none;
}
header .navigation li a:hover {
    text-decoration: underline;
}
.content {
    position: relative;
    max-width: 600px;
    z-index: 1;
}
.content h2 {
    color: #FFFFFF;
    font-size: 5em;
    line-height: 1em;
}
.content h2 span {
    color: #FFFFFF;
    font-size: 0.7em;
}
.content p {
    color: #FFFFFF;
    margin: 10px 0 20px;
}
.content a {
    padding: 10px 30px;
    background: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    color: #111;
}
.girl {
    position: absolute;
    bottom: 0;
    height: 85%;
    right: 100px;
}
@media (max-width: 991px) {
    header {
        padding: 20px 40px;
    }
    header ul.navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        
        background: linear-gradient(#276afa ,#e91ece 80%);
        z-index: 100;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header ul.navigation.active {
        display: flex;
    }
    header .navigation li a {
        margin-left: 0;
        text-decoration: none;
        font-size: 30px;
    }
    header .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background-image: url(menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
    }
    header .toggleMenu.active {
        position: fixed;
        right: 40px;
        background-image: url(close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .sec {
        justify-content: center;
        padding: 40px 40px 0;
        flex-direction: column;
    }
    .content {
        max-width: 100%;
        margin-top: 120px;
    }
    .content h2 {
        font-size: 3em;
    }
    .girl{
        position: relative;
        bottom: 0;
        height: initial;
        right: initial;
        width: 80%;
        margin-top: 20px;
    }
}